@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Name: custom color palette
           Author: Ilias Ism
           URL: https://gradient.page */

        /* CSS: .bg-gradient { background: var(--gradient) } */
        --gradient: linear-gradient(to top left, #215f00, #e4e4d9);
        --background: 105 100% 98.38%;
        --foreground: 105 10% 0.76%;

        --muted: 105 10% 91.9%;
        --muted-foreground: 105 5% 41.9%;

        --popover: 105 10% 91.9%;
        --popover-foreground: 105 10% 0.95%;

        --card: 105 10% 91.9%;
        --card-foreground: 105 10% 0.95%;

        --border: 105 15% 89.76%;
        --input: 105 15% 89.76%;

        --primary: 105 100% 19%;
        --primary-foreground: 105 2% 91.9%;

        --secondary: 105 48% 66.79%;
        --secondary-foreground: 105 7% 11.9%;

        --accent: 105 48% 66.79%;
        --accent-foreground: 105 7% 11.9%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 105 100% 19%;

        --radius: 0.5rem;
    }
    
    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
